  body {
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
  }

  .hero-img {
    background-position: center;
    background-size: cover;
    background-image: url(/assets/BackgroundLavaRuins.gif);
  }

  .mini-img {
    height: 30px;
  }

  .fight-field {
    height: 85vh;
  }

  .monster-size {
    width: 300px;
  }

  .hero-size {
    height: 250px;
  }

  .companion-size {
    height: 100px;
  }